Repository ONEcampaign/bblocks, pull requests merged in 2022-08, with the labels that each got.

#97 refactor dsa test
  tests/test_import_tools/test_debt/__init__.py
  tests/test_import_tools/test_debt/test_common.py
Labels: bug

#101 short names column and tests
  CHANGELOG.rst
  bblocks/dataframe_tools/add.py
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#99 70 fao index data import module
  CHANGELOG.rst
  bblocks/import_tools/fao.py
  bblocks/import_tools/stored_data/fao_index.csv
  tests/test_import_tools/test_fao.py
Labels: import_tools

#103 62 get latest by function
  CHANGELOG.rst
  bblocks/analysis_tools/get.py
  bblocks/cleaning_tools/clean.py
  bblocks/import_tools/stored_data/SDR.csv
  bblocks/import_tools/stored_data/World Bank Pink Sheet - Monthly Prices.csv
  bblocks/import_tools/stored_data/fao_index.csv
  bblocks/import_tools/stored_data/wfp_raw/AFG_inflation.csv
  bblocks/import_tools/stored_data/wfp_raw/AFG_insufficient_food.csv
  bblocks/import_tools/stored_data/wfp_raw/AGO_inflation.csv
  bblocks/import_tools/stored_data/wfp_raw/AGO_insufficient_food.csv
  bblocks/import_tools/stored_data/wfp_raw/DZA_inflation.csv
  bblocks/import_tools/stored_data/wfp_raw/DZA_insufficient_food.csv
  coverage.xml
  tests/test_analysis_tools/test_get.py
  tests/test_cleaning_tools/test_clean.py
Labels: df_tools

#104 poverty ratio function, test, data, changelog
  CHANGELOG.rst
  bblocks/dataframe_tools/add.py
  bblocks/dataframe_tools/common.py
  bblocks/import_tools/stored_data/SI.POV.DDAY_all_.csv
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#106 add population density function, test, changelog
  CHANGELOG.rst
  bblocks/dataframe_tools/add.py
  bblocks/dataframe_tools/common.py
  bblocks/import_tools/stored_data/EN.POP.DNST_all_.csv
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#107 population share function, test, changelog
  CHANGELOG.rst
  bblocks/dataframe_tools/add.py
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#108 median observation function, test, changelog
  CHANGELOG.rst
  bblocks/dataframe_tools/add.py
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#109 income levels function, test, changelog, data
  CHANGELOG.rst
  bblocks/dataframe_tools/add.py
  bblocks/import_tools/stored_data/income_levels.csv
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#112 111 modify sdr object list behaviour
  bblocks/import_tools/imf.py
  bblocks/import_tools/world_bank.py
Labels: bug, enhancement

#115 47 add gdp column function
  CHANGELOG.rst
  bblocks/dataframe_tools/add.py
  bblocks/dataframe_tools/common.py
  bblocks/import_tools/imf.py
  coverage.xml
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#116 48 add gov expenditure column function
  CHANGELOG.rst
  bblocks/dataframe_tools/add.py
  bblocks/dataframe_tools/common.py
  bblocks/import_tools/stored_data/wfp_raw/AFG_inflation.csv
  bblocks/import_tools/stored_data/wfp_raw/ALB_inflation.csv
  coverage.xml
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#118 function tests changelog
  CHANGELOG.rst
  bblocks/cleaning_tools/clean.py
  bblocks/dataframe_tools/add.py
  tests/test_dataframe_tools/test_add.py
Labels: df_tools

#119 40 filter african countries function
  CHANGELOG.rst
  bblocks/analysis_tools/get.py
  bblocks/cleaning_tools/filter.py
  bblocks/dataframe_tools/add.py
  bblocks/dataframe_tools/common.py
  bblocks/import_tools/fao.py
  bblocks/import_tools/stored_data/wfp_raw/AFG_insufficient_food.csv
  bblocks/import_tools/stored_data/wfp_raw/AGO_insufficient_food.csv
  bblocks/import_tools/stored_data/wfp_raw/DZA_insufficient_food.csv
  tests/test_analysis_tools/test_get.py
  tests/test_cleaning_tools/test_filter.py
  tests/test_dataframe_tools/test_add.py
Labels: cleaning_tools

#120 date to str function, test changelog
  CHANGELOG.rst
  bblocks/cleaning_tools/clean.py
  tests/test_cleaning_tools/test_clean.py
Labels: cleaning_tools

#123 update Pink sheet
  bblocks/import_tools/stored_data/World Bank Pink Sheet - Monthly Indices.csv
  bblocks/import_tools/stored_data/World Bank Pink Sheet - Monthly Prices.csv
  bblocks/import_tools/world_bank.py
  tests/test_import_tools/test_world_bank.py
Labels: bug

#121 update SDR object
  bblocks/import_tools/imf.py
  tests/test_import_tools/test_imf.py
Labels: bug
